<div class="well">
  <div class="row">
    <div class="col-sm-6">
      <h2>{{user.uid}} <i ng-if="subscribed" class="glyphicon glyphicon-envelope"></i> - <small>Expires: {{date_convert(user.expiration)}}</small></h2>
      <div>Support available at <a href="mailto:support@genouest.org">support@genouest.org</a></div>
    </div>
    <div class="col-sm-6">
      <div ng-if="session_user.is_admin && (user.status == STATUS_PENDING_APPROVAL || user.status == STATUS_PENDING_EMAIL)">
        <button class="btn btn-primary" ng-click="activate()">Activate</button>
        <div ng-if="session_user.is_admin && (user.status == STATUS_PENDING_APPROVAL || user.status == STATUS_PENDING_EMAIL)">
          <div class="btn btn-lg" confirm-delete on-confirm="delete()"></div></td>
        </div>
      </div>
      <div ng-if="session_user.is_admin && user.status == STATUS_ACTIVE">
        <button class="btn btn-primary" ng-click="expire()">Expire</button>
      </div>
      <div ng-if="user.status == STATUS_ACTIVE">
        <button class="btn btn-primary" ng-click="extend()">Extend validity</button>
      </div>
      <div ng-if="session_user.is_admin && user.status == STATUS_EXPIRED">
        <button class="btn btn-primary" ng-click="renew()">Renew</button>
        <div class="btn btn-lg" confirm-delete on-confirm="delete()"></div></td>

      </div>
    </div>
  </div>
</div>
<div ng-repeat="template in plugins">
   <div ng-if="plugin_data[template.name].warnings && plugin_data[template.name].warnings.length>0" class="alert alert-warning">
        <div ng-repeat="warning in plugin_data[template.name].warnings">
                  <strong>Warning!</strong> {{warning}}
        </div>
   </div>
   <div ng-if="plugin_data[template.name].errors && plugin_data[template.name].errors.length>0" class="alert alert-danger">
        <div ng-repeat="error in plugin_data[template.name].errors">
                  <strong>Alert!</strong> {{error}}
        </div>
   </div>
</div>
<div class="label label-warning" ng-if="msg">{{msg}}</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
      </div>
      <div class="panel-body">
        <div class="user-information">
          <form role="form" class="user-form form-horizontal form-register">
            <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" id="firstname" ng-model="user.firstname"></input>
            </div>
            <div class="form-group">
              <label for="lastname">Last name</label>
              <input type="text" id="lastname" ng-model="user.lastname"></input>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" ng-model="user.email"></input>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <textarea id="address" ng-model="user.address"></textarea>
            </div>
            <div class="form-group">
              <label for="why">Why</label>
              <textarea id="why" ng-model="user.why"></textarea>
            </div>
            <div class="form-group">
              <label for="lab">Laboratory</label>
              <input type="text" id="lab" ng-model="user.lab"></input>
            </div>
            <div class="form-group">
              <label for="responsible">Responsible</label>
              <input type="text" id="responsible" ng-model="user.responsible"></input>
            </div>
            <div ng-if="session_user.is_admin">
              <div class="form-group">
                <label for="key">Key</label>
                <input type="text" id="key" ng-model="user.regkey" disabled></input>
              </div>

              <div class="form-group">
                <label for="group">Group</label>
                <input type="text"  ng-model="user.group"/>
                <select ng-model="user.group">
                  <option ng-repeat="group in groups| orderBy:'name'">{{group.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="mgroup">Main group directory</label>
                <select id="mgroup" ng-model="user.maingroup" ng-options="item for item in maingroups"></select>
              </div>
              <div class="form-group">
                <label for="ip">IP address</label>
                <input type="text" id="ip" ng-model="user.ip"></input>
              </div>
              <div class="form-group">
                <label for="loginShell">Shell</label>
                <input type="text" id="loginShell" ng-model="user.loginShell"></input>
              </div>
              <div class="form-group">
                <label for="duration">Duration</label>
                <select ng-model="user.duration" class="form-control" >
                    <option value="90">3 months</option>
                    <option value="180">6 months</option>
                    <option value="365">1 year</option>
                    <option value="730">2 years</option>
                    <option value="1095">3 years</option>
                </select>
              </div>

              <div class="form-group" ng-if="session_user.is_admin">
                <div class="checkbox">
                  <label>
                    <input ng-model="user.is_genouest" type="checkbox"> Staff member
                  </label>
                </div>
              </div>
              <div class="form-group" ng-if="session_user.is_admin">
                <div class="checkbox">
                  <label>
                    <input ng-model="user.is_fake" type="checkbox"> Fake/internal account
                  </label>
                </div>
              </div>

            </div>


            <div ng-if="! session_user.is_admin">
              <div class="form-group">
                <label for="group">Group</label>
                <input type="text" id="group" ng-model="user.group" disabled></input>
              </div>
              <div class="form-group">
                <label for="ip">IP address</label>
                <input type="text" id="ip" ng-model="user.ip" disabled></input>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-lg" ng-click="update_info()">Update info</button>
            </div>
          </form>


      </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6">

    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Authentication</h3>
          </div>
          <div class="panel-body">
              <span ng-if="user.u2f.publicKey" class="label label-success"><span class="glyphicon glyphicon-ok"> </span> U2F</span>
              <button ng-if="! user.u2f.publicKey" ng-click="register_u2f()">Register U2F key</button>
              <span ng-if="u2f">{{u2f}}</span>
          </div>
    </div>
    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Home directory</h3>
          </div>
          <div class="panel-body">
              <span>/home<span ng-if="user.maingroup">/{{user.maingroup}}</span>/{{user.group}}/{{user.uid}}</span>
          </div>
    </div>
    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">SSH keys</h3>
          </div>
          <div class="panel-body">
              <span class="label label-info">When generating a key, public key is automatically added to authorized keys, process takes one minute</span>
              <button class="btn btn-primary" ng-click="ssh_new_key()">Generate new key</button>
              <h4>Download</h4>
              <a ng-href="/ssh/{{user.uid}}/private" target="_blank"><button class="btn btn-primary">private rsa key</button></a>
              <a ng-href="/ssh/{{user.uid}}/putty" target="_blank"><button class="btn btn-primary">putty private key</button></a>
              <a ng-href="/ssh/{{user.uid}}/public" target="_blank"><button class="btn btn-primary">public key</button></a>
          </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Update password</h3>
      </div>
      <div class="panel-body">
         <input type="password" ng-model="password1" placeholder="New password"/>
         <input type="password" ng-model="password2" placeholder="Confirm password"/>
         <button type="button" class="btn btn-primary" ng-click="update_password()">Change password</button>
      </div>
    </div>
    <div class="panel panel-default" ng-if="session_user.is_admin">
      <div class="panel-heading">
        <h3 class="panel-title">Secondary groups</h3>
      </div>
      <div class="panel-body">
        <div>
          <form role="form" class="user-form form-inline">
            <div class="form-group">
              <select ng-model="user.newgroup">
                <option ng-repeat="group in groups| orderBy:'name'">{{group.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="add_secondary_group()">Add to group</button>
            </div>
          </form>
          <hr/>
          <div id="secondarygroups">
            <h4 ng-repeat="secondarygroup in user.secondarygroups| orderBy:'name'"><span class="label label-primary">{{secondarygroup}} <span class="glyphicon glyphicon-trash" ng-click="delete_secondary_group(secondarygroup)"> </span></span></h4>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add public SSH key</h3>
      </div>
      <div class="panel-body">
        <div>
          <form role="form" class="user-form form-inline">
            <div class="form-group">
              <input placeholder="SSH public key (one line)" type="text" ng-model="user.ssh"/>
              <div>{{ssh_message}}</div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="update_ssh()">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Databases</h3>
      </div>
      <div class="panel-body">
        <div>
          <div class="label label-warning">{{dbmsg}}</div>
          <form role="form" class="user-form form-inline">
            <div class="form-group">
              <input placeholder="Database name (no space or accent)" type="text" ng-model="database"/>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="database_add()">Create</button>
            </div>
          </form>
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <th>Name</th><th></th>
            </thead>
            <tbody>
              <tr ng-repeat="db in databases">
                <td>{{db.name}}</td>
                <td><div confirm-delete on-confirm="database_delete(db.name)"></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Web sites</h3>
      </div>
      <div class="panel-body">
        <div  ng-show="session_user.is_admin">
          <div class="label">{{webmsg}}</div>
          <form role="form" class="form-register form-signin">
            <div class="form-group">
              <input placeholder="Web site name (no space)" type="text" ng-model="website"/>
              <input placeholder="Web site url" type="text" ng-model="website_url"/>
              <input placeholder="Web site short description" type="text" ng-model="website_description"/>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="web_add()">Create</button>
            </div>
          </form>
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <th>Name</th><th>Url</th><th>Description</th><th></th>
            </thead>
            <tbody>
              <tr ng-repeat="site in websites">
                <td>{{site.name}}</td>
                <td>{{site.url}}</td>
                <td>{{site.description}}</td>
                <td><span class="glyphicon glyphicon-trash" ng-click="web_delete(site._id)"> </span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div ng-repeat="template in plugins">
        <div ng-if="!template.admin_only || session_user.is_admin" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{template.display_name}}</h3>
          </div>
          <div class="panel-body">
              <div ng-if="plugin_data[template.name].alert" class="alert alert-warning">
                  <strong>Warning!</strong> {{plugin_data[template.name].alert}}
              </div>
              <ng-include src="template.url"></ng-include>
          </div>
      </div>
    </div>
    <div>
      <h2>History</h2>
      <div ng-repeat="hist in events">
        <span>{{date_convert(hist.date)}}:  {{hist.action}}</span>
      </div>
    </div>
  </div>
</div>
