<div class="well">
  <div class="row">
    <div class="col-sm-6">
      <h2>{{user.uid}} - <small>Expires: {{date_convert(user.expiration)}}</small></h2>
      <div>Support available at <a href="mailto:support@genouest.org">support@genouest.org</a></div>
    </div>
    <div class="col-sm-6">
      <div ng-if="session_user.is_admin && user.status == STATUS_PENDING_APPROVAL">
        <button class="btn btn-primary" ng-click="activate()">Activate</button>
        <div ng-if="user.is_admin && (user.status == STATUS_PENDING_APPROVAL || user.status == STATUS_PENDING_EMAIL)">
          <div class="btn btn-lg" confirm-delete on-confirm="delete()"></div></td>
        </div>
      </div>
      <div ng-if="session_user.is_admin && user.status == STATUS_ACTIVE">
        <button class="btn btn-primary" ng-click="expire()">Expire</button>
      </div>
      <div ng-if="session_user.is_admin && user.status == STATUS_EXPIRED">
        <button class="btn btn-primary" ng-click="renew()">Renew</button>
        <div class="btn btn-lg" confirm-delete on-confirm="delete()"></div></td>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Information</h3>
      </div>
      <div class="panel-body">
        <div class="user-information">
          <form role="form" class="user-form form-horizontal form-register">
            <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" id="firstname" ng-model="user.firstname"></input>
            </div>
            <div class="form-group">
              <label for="lastname">Last name</label>
              <input type="text" id="lastname" ng-model="user.lastname"></input>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" ng-model="user.email"></input>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <textarea id="address" ng-model="user.address"></textarea>
            </div>
            <div class="form-group">
              <label for="lab">Laboratory</label>
              <input type="text" id="lab" ng-model="user.lab"></input>
            </div>
            <div class="form-group">
              <label for="responsible">Responsible</label>
              <input type="text" id="responsible" ng-model="user.responsible"></input>
            </div>
            <div ng-if="session_user.is_admin">
              <div class="form-group">
                <label for="group">Group</label>
                <input type="text"  ng-model="user.group"/>
                <select ng-model="user.group" ">
                  <option ng-repeat="group in groups">{{group.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="mgroup">Main group directory</label>
                <select id="mgroup" ng-model="user.maingroup" ng-options="item for item in maingroups"></select>
              </div>
              <div class="form-group">
                <label for="ip">IP address</label>
                <input type="text" id="ip" ng-model="user.ip"></input>
              </div>
              <div class="form-group">
                <label for="loginShell">Shell</label>
                <input type="text" id="loginShell" ng-model="user.loginShell"></input>
              </div>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input ng-model="user.is_genouest" type="checkbox"> GenOuest member
                  </label>
                </div>
              </div>
            </div>
            <div ng-if="! session_user.is_admin">
              <div class="form-group">
                <label for="group">Group</label>
                <input type="text" id="group" ng-model="user.group" disabled></input>
              </div>
              <div class="form-group">
                <label for="ip">IP address</label>
                <input type="text" id="ip" ng-model="user.ip" disabled></input>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-lg" ng-click="update_info()">Update info</button>
            </div>
          </form>


      </div>
      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="glyphicon glyphicon-user icon-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{disk_home}}</div>
                      <div>Home</div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">{{date_convert(home_date)}}</span>
                <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="glyphicon glyphicon-user icon-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{disk_omaha}}</div>
                      <div>Omaha</div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">{{date_convert(omaha_date)}}</span>
                <div class="clearfix"></div>
            </div>
          </div>
        </div>

    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Public SSH key</h3>
      </div>
      <div class="panel-body">
        <div>
          <form role="form" class="user-form form-inline">
            <div class="form-group">
              <input placeholder="SSH public key (one line)" type="text" ng-model="user.ssh"/>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="update_ssh()">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Databases</h3>
      </div>
      <div class="panel-body">
        <div>
          <div class="label label-warning">{{dbmsg}}</div>
          <form role="form" class="user-form form-inline">
            <div class="form-group">
              <input placeholder="Database name (no space or accent)" type="text" ng-model="database"/>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="database_add()">Create</button>
            </div>
          </form>
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <th>Name</th><th></th>
            </thead>
            <tbody>
              <tr ng-repeat="db in databases">
                <td>{{db.name}}</td>
                <td><div confirm-delete on-confirm="database_delete(db.name)"></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Web sites</h3>
      </div>
      <div class="panel-body">
        <div>
          <div class="label">{{webmsg}}</div>
          <form role="form" class="form-register form-signin">
            <div class="form-group">
              <input placeholder="Web site name (no space)" type="text" ng-model="website"/>
              <input placeholder="Web site url" type="text" ng-model="website_url"/>
              <input placeholder="Web site short description" type="text" ng-model="website_description"/>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary" ng-click="web_add()">Create</button>
            </div>
          </form>
        </div>
        <div>
          <table class="table table-striped">
            <thead>
              <th>Name</th><th>Url</th><th>Description</th><th></th>
            </thead>
            <tbody>
              <tr ng-repeat="site in websites">
                <td>{{site.name}}</td>
                <td>{{site.url}}</td>
                <td>{{site.description}}</td>
                <td><span class="glyphicon glyphicon-trash" ng-click="web_delete(site._id)"> </span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div>
      <h2>History</h2>
      <div ng-repeat="hist in user.history">
        <span>{{date_convert(hist.date)}}:  {{hist.action}}</span>
      </div>
    </div>
  </div>
</div>
