{
 "general": {
    "db": "gomngr",
    "url": "http://localhost:3000/",
    "admin": [ "osallou" ],
    "support": "support@genouest.org",
    "secret": ""
 },
 "mongo": {
    "host": "localhost",
    "port": 27017
 },
 "mail": {
    "host": "mailtrap.io",
    "port": 25,
    "secure": false,
    "user": "",
    "password": "",
    "origin": ""
  }

}
